td {
    border: none;
    height: 50px;
    width: 50px;
    padding: 0;
}

table {
    margin: 25px auto;
    border: 10px groove #6A4B36;
    width: 211px;
    background-color: #CFBD8B;
}

.black {
    background-color: #3A2A1D;
    border:1px solid black; 
}

.white {
    background-color: #CFBD8B;
    border:1px solid black; 
}

#ScoreBoard {
    background: url(res/background3.jpg);
    text-align: center;
    color: black;
    text-shadow: 0px 2px 3px #666;
    margin-right: auto;
    border: 3px groove black;
}

#ScoreTitle {
    font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
	font-weight: normal;
    font-size: medium;
	letter-spacing: .2em;
	line-height: 1.1em;
	margin:0px;
	text-align: center;
	text-transform: uppercase;
}

body {
    background: url(res/background.jpg);
    background-repeat: repeat;
}

#logo {
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
    display: block;
}