td {
    border: 1px solid black;
    height: 50px;
    width: 50px;
    padding: 0;
}

table {
    margin: 25px auto;
    border: 2px solid #0099FF;
    width: 211px;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

#ScoreBoard {
    background-color: white;
    text-align: center;
    color: black;
    text-shadow: 0px 2px 3px #666;
    margin-right: auto;
}

#ScoreTitle {
    text-align: center;
    color: red;
}

body {
    background: url(pattern.gif);
    background-repeat: repeat;
}
